@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="linha row justify-content-between py-5">
    <div class="coluna col5 sidebar">
        <h1>Capucho Pet e Tosa</h1>
        <img src="~/Images/pet.png" alt="" />
        <ul class="sem-marcador sem-padding">
            <li>Avenida Alfredo de Carvalho, 121</li>
            <li>Bairro Centro</li>
            <li>Belo Horizonte - UF: MG</li>
        </ul>
    </div>
    <div class="coluna col7 contato">
        <h2></h2>
        <form action="">
            <input type="text" name="nome" id="nome" placeholder="Telefone da Empresa" />
            <input type="text" name="email" id="email" placeholder="Email da Empresa" />
            <input type="text" name="assunto" id="assunto" placeholder="CNPJ da Empresa"/>
            <textarea name="mensagem" id="mensagem" placeholder="Descrição"></textarea>
            <input type="submit" class="botao" name="envia" value="Editar Informações &raquo;" />
        </form>
    </div>
</section>
<section class="py-3">
    <div class="linha my-3 conteudo-extra p-3">
        <div class="coluna col12 titleproduct">
            <section>
                <h1>Produtos da Empresa</h1>
            </section>
        </div>
        <div class="coluna col6">
            <ul class="sem-marcador sem-padding produtos">
                <li>
                    <img src="~/Images/Products.png" alt="" />
                    <h4>Título do produto</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <a href="">Saiba Mais &raquo;</a>
                    </p>
                </li>
                <li>
                    <img src="~/Images/Products.png" alt="" />
                    <h4>Título do produto</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <a href="">Saiba Mais &raquo;</a>
                    </p>
                </li>
                <li>
                    <img src="~/Images/Products.png" alt="" />
                    <h4>Título do produto</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <a href="">Saiba Mais &raquo;</a>
                    </p>
                </li>
            </ul>

        </div>
        <div class="coluna col6">
            <h3></h3>
            <ul class="sem-marcador sem-padding produtos">
                <li>
                    <img src="~/Images/Products.png" alt="" />
                    <h4>Título do produto</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <a href="">Saiba Mais &raquo;</a>
                    </p>
                </li>
                <li>
                    <img src="~/Images/Products.png" alt="" />
                    <h4>Título do produto</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <a href="">Saiba Mais &raquo;</a>
                    </p>
                </li>
                <li>
                    <img src="~/Images/Products.png" alt="" />
                    <h4>Título do produto</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <a href="">Saiba Mais &raquo;</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <input type="submit" class="botao" name="envia" value="Inserir Novo Produto &raquo;" />
    </div>
</section>
