@{
}

<a asp-controller="Clients" asp-action="Create" class="btn btn-primary btn-sm">Registrar Cliente</a>
<a asp-controller="Companies" asp-action="Create" class="btn btn-primary btn-sm">Registrar Empresa</a>