@{
}

<section id="register-background" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="text-center">Connect on Client</h1>
                </div>
                <div class="d-flex justify-content-around py-5">
                    <div>
                        <a asp-controller="Companies" asp-action="Create" class="btn button-style">Cadastre-se como Empresa</a>
                        <div class="pt-2">
                            <span>Beneficios</span>
                            <ul>
                                <li>Cadastrar seus clientes</li>
                                <li>Divulgar seus produtos</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <a asp-controller="Clients" asp-action="Create" class="btn button-style">Cadastre-se como Cliente</a>
                        <div class="pt-2">
                            <span>Beneficios</span>
                            <ul>
                                <li>Receber Promoções</li>
                                <li>Conhecer lojas na sua região</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
